@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');



body {
    background-image: url(https://img.freepik.com/fotos-premium/raios-verdes-neon-em-um-fundo-preto-abstrato-neon_491279-1864.jpg);
    background-size: cover;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family:"Cabin", noto sans ;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;

}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color:white
}

a:hover{
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 2px solid rgb(132, 14 , 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreava-se-btn:hover{
    background-color: rgb(132, 14 , 201);
    color: white;
}

h1{
    font-weight: 200;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: impact;
}

span{
    color: rgb(132,14,121);
}

p{
    line-height: 15px;
    max-width: 500px;
    font-family: 'Courier New', Courier, monospace;
}

img{
    width: 580px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form[type="submit"]{
    height: 50px;
    width: 50%;
    background-color: rgb(132, 14 , 201);
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;

}
input{
    margin-top: 20px;
    height: 20px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.btn-login{
    width: 68%;
    padding:16px 0px;
    margin: 10px;
    border: none;
    border-radius: 4px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    color:white;
    background: rgb(132, 14 , 201);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px white;
}
