@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');







body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cabin" , sans-serif;
}

html, body{height: 100%}


header {
    background-color: rgb(132, 14 , 201);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.616);
  }  
  .search-bar {
    display: flex;
    border: 1px solid #3c3c3c;
    border-radius: 70px;
    padding: 5px 15px;
    background-color: #f0f0f0;
    align-items: center;
    margin-left: 0%; margin-right: 0%;
    
  }
  
  .search-input {
    border: none;
    background: transparent;
    color: #333;
    margin-left: 10px;
    width: 375px;
    padding: 8px;
  }
  
  .search-button {
    background-color: #410446;
    border: none;
    color: #fff;
    padding: 15px 12px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
  }
  
  .main-nav li {
    margin-right: 20px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
  }
  
.search-button:hover {
  color: #4f03ff;
}
  
.sidebar{
    float: left;
    width: 250px;
    padding: 10px 10px; 
    overflow-y: auto ;
    background-color: rgb(132, 14 , 201);
    overflow-x: hidden;
}

.sidebar-wrapper{
    padding-bottom: 200px;
}


.sidebar__menu{
    margin: 20px 0;
    color: rgb(0, 0, 0)

}

.sidebar__logo img{
    max-width: 200px;
    width: 100%;
}

.sidebar__menu a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
    padding: 10px 10px;
}

.sidebar__menu svg{
    margin: 0 20px;
}


.sidebar__menu__item{
    margin-top: 12px;
    cursor: pointer; 
    vertical-align: middle;
}

.sidebar__menu p.sidebar__menu__title{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar__menu__item__componente{
    height: 10px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    color: black;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
}
    
.sidebar__menu__item span{ 
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
}

.sidebar__menu__item img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}

.sidebar__playlists{
    padding: 20px 0; 
    border-top: 1px solid rgb(0, 0, 0)
}

.sidebar__playlists a{
    margin: 10px;
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.sidebar__playlists a.hover{
    color: rgb(0, 238, 255);
}








