@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


body{
    background-image: url(https://i0.wp.com/www.multarte.com.br/wp-content/uploads/2018/12/fundo-preto-background90-1024x640.jpg?resize=696%2C435&ssl=1);
    background-size: cover;
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
    font-family:'Dela Gothic One', cursive;
}



*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    background-color: rgba(187, 178, 178, 0.784);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}


.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}


.estilo-musical{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    color: white;
}


.menu li{
    display: inline-block;
    margin: 0 10px;
}


.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(132, 14 , 201);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
}

.menu li a:hover{
    background-color: greenyellow;
}
