@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dela+Gothic+One & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Sedgwick+Ave+Display&display=swap');


body{
    background-image: url(https://i0.wp.com/www.multarte.com.br/wp-content/uploads/2018/12/fundo-preto-background90-1024x640.jpg?resize=696%2C435&ssl=1);
    background-size: cover;
    color: white;
    max-width: 1400px;
    margin: 0 auto;
    padding: 25px;
    font-family:'Dela Gothic One', cursive;
}



*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}


header{
    width: 100%;
    background-color: rgba(187, 178, 178, 0.784);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px;
}

.logo img{
    max-width: 60px;
    width: 100px;
}


.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
}


.estilo-musical{
    display: flex;
    align-items: center;
}

.logo-texto{
    margin-left: 20px;
    color: white;
}


.menu li{
    display: inline-block;
    margin: 0 10px;
}


.menu li a{
    font-size: 24px;
    text-decoration: none;
    color: rgb(132, 14 , 201);
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 15px;
}

.menu li a:hover{
    background-color: greenyellow;
}

.main-container {
    font-family: 'Cabin', sans-serif;
  }

.spotify-playlists {
    padding: 20px 40px;
  }
  
  .spotify-playlists h2 {
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 20px;
  }
  
  .spotify-playlists .list {
    display: flex;
    gap: 20px;
    overflow: hidden;
  }
  
  .spotify-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 15px;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
  
  .spotify-playlists .list .item:hover {
    background-color: #252525;
  }
  
  .spotify-playlists .list .item img {
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .spotify-playlists .list .item .play {
    position: relative;
  }
  
  .spotify-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: rgba(64, 3, 97, 0.744);
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
  }
  
  .spotify-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
  }
  
  .spotify-playlists .list .item h4 {
    color: #ffffff;
    font-size: 14px;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .spotify-playlists .list .item p {
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
  }
  
  .spotify-playlists hr {
    margin: 70px 0px 0px;
    border-color: #636363;
  }
