@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

body{
    background-image: url(https://i0.wp.com/www.multarte.com.br/wp-content/uploads/2018/12/fundo-preto-background90-1024x640.jpg?resize=696%2C435&ssl=1);
    background-size: cover;
    color: white;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    font-family:"Cabin", noto sans ;
}