@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');


body{
    margin: 0;
    font-family: "Cabin" , noto sans;
}


.main-login{
    width: 100vw;    
    height: 100vh;
    background:url(https://img.freepik.com/vetores-premium/zoom-de-velocidade-de-tubulacao-de-luz-azul-abstrato-na-tecnologia-de-fundo-preto_1142-8777.jpg?w=360);
    background-size: cover;
    display: flex;
    justify-content: center; 
    align-items: center;
}



.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
}



.left-login > h1 { 
    font-size:3vw;
    color:aqua; 
}


.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}


.card-login{
    width: 60%;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow:0px 10px 40px #c82cdc;
}

.card-login > h1 {
    color:rgb(144, 43, 226);
    font-weight: 800;
    margin:0;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
}


.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 25px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 12pt;
    box-shadow:0px 10px 40px #000000;
    outline: none;
    box-sizing: border-box;
}



.textfield > label{
    color:rgb(0, 0, 0);
    margin-bottom: 10px;
}


.textfield > input::placeholder{
    color:rgba(0, 0, 0, 0.646);
}

.btn-login{
    width:200px;
    height: 67px;
    padding:16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px; 
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:rgb(103, 10, 233);
    background: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(219, 15, 103);
}
