@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');
 
 body{
    background-image: url(https://images.hdqwalls.com/download/dark-clean-background-4k-2560x1080.jpg);
    background-size: cover;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#titulo{
    align-items: center;
    line-height: 10px;
    font-family: "Designer";
    color: white;

}

li{
    display: inline-block;
    margin: 20px;
}

h1{
    font-weight: 200;
}

a{
    color: white;

}

a:hover{
    color: chocolate;
    transition: 0.3s all;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 50px;
    line-height: 10px;
    font-family: "lemon milk";
    color: yellow;
}


span{
    color: rgb(9, 246, 80);
}

p{
    line-height: 25px;
    max-width: 700px;
    font-family: "Brinnan";
    border: 1px solid rgb(255, 255, 255); 
    border-radius: 10px; 
    padding: 10px;     

}

img{
    width: 780px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

/* Estilizando somente o campo "Sugestão" */
form input[type="text"][placeholder="Sugestão"] {
    font-size: 18px; 
    height: 100px; 
    padding: 10px;
    width: 80%;

}


form [type="submit"]{
    height: 60px;
    width: 30%;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 25px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}
  


